<!DOCTYPE html>
<html>
  <head>
    <title>Champ</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'index' %>
    <%= stylesheet_pack_tag 'spectre' %>

  </head>

  <body>
    <div class="container">
      <div class="columns">
        <div class="col-8 col-mx-auto">

          <%= yield %>

        </div>
      </div>
    </div>
  </body>
</html>
