<!DOCTYPE html>
<html>
  <head>
    <title>Champ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <div class="columns">
        <div class="col-8 col-mx-auto">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
